<div class="well">
	<h3>
		<span>Namespaces</span>
		<a ui-sref="namespaces.new" class="btn btn-primary btn-sm pull-right" has-any-authority="ROLE_ADMIN,ROLE_USER">
			<span class="glyphicon glyphicon-plus"></span>
			<span translate="namespace.home.createLabel">New namespace</span>
		</a>
	</h3>

	<div class="row-fluid">
		<div class="table-responsive">
			<table class="table table-bordered table-condensed table-striped">
				<thead>
					<tr>
						<th class="col-xs-2">
							<a href="" class="nocolor block" ng-click="vm.changeOrderBy('name')">
								<span>Name</span>
								<i ng-if="vm.orderColumn === 'name'" class="glyphicon pull-right" ng-class="vm.orderClasses"></i>
							</a>
							<input type="text" class="form-control input-sm" placeholder="Filter by name" ng-model="vm.search.name">
						</th>
						<th class="col-xs-2">
							<a href="" class="nocolor block" ng-click="vm.changeOrderBy('owner')">
								<span>Owner</span>
								<i ng-if="vm.orderColumn === 'owner'" class="glyphicon pull-right" ng-class="vm.orderClasses"></i>
							</a>
							<input type="text" class="form-control input-sm" placeholder="Filter by owner" ng-model="vm.search.owner">
						</th>
						<th class="col-xs-7">
							<a href="" class="nocolor block" ng-click="vm.changeOrderBy('members')">
								<span>Members</span>
								<i ng-if="vm.orderColumn === 'members'" class="glyphicon pull-right" ng-class="vm.orderClasses"></i>
							</a>
							<input type="text" class="form-control input-sm" placeholder="Filter by members" ng-model="vm.search.members">
						</th>
						<th class="col-xs-1">
							<span>Actions</span>
							<div style="height: 30px"></div>
						</th>
					</tr>
				</thead>
				<tbody ng-init="vm.filteredNamespaces = []">
					<tr>
						<td colspan="4" class="text-center">
							<em ng-if="vm.namespaces.length === 0">- empty -</em>
							<em ng-if="vm.filteredNamespaces.length === 0">No namespaces found that matches the filters</em>
						</td>
					</tr>
					<tr ng-repeat="ns in vm.filteredNamespaces = (vm.namespaces | filterpp:vm.search | orderBy:vm.orderColumn:vm.reverse)">
						<td class="col-xs-2">
							<a ui-sref="namespaces.detail({ name: ns.name })">{{ ns.name }}</a>
						</td>
						<td class="col-xs-2">{{ ns.owner }}</td>
						<td class="col-xs-7">{{ ns.members | orderBy | join }}</td>
						<td class="col-xs-1">
							<a ui-sref="namespaces.delete({ name: ns.name })">
								<span class="label label-danger" ng-if="ns.canDelete" translate="entity.action.delete">Delete</span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<em>* Bold members are the owner of the namespace</em>
		<em class="pull-right">{{ vm.filteredNamespaces.length + '/' + vm.namespaces.length }}</em>
	</div>
</div>
