<div class="well">

    <div class="row-fluid clearfix" ng-if="isInRole('ROLE_USER')">
        <button
            class="btn btn-primary btn-sm pull-right"
            data-toggle="modal"
            data-target="#saveNamespaceModal"
            ng-click="clear()">
            <span class="glyphicon glyphicon-plus"></span>
            <span translate="kevoreeRegistryApp.namespace.home.createLabel">Create</span>
        </button>
    </div>

    <div class="row-fluid">
        <fieldset>
            <legend>Filter by:</legend>
            <div class="col-xs-6 col-sm-2">
                <input type="text" class="form-control input-sm" ng-model="search.name" placeholder="Name">
            </div>
            <div class="col-xs-6 col-sm-9">
                <input type="text" class="form-control input-sm" ng-model="search.owner.login" placeholder="Owner">
            </div>
        </fieldset>
    </div>

    <hr/>

    <div class="modal fade" id="saveNamespaceModal" tabindex="-1" role="dialog" aria-labelledby="myNamespaceLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myNamespaceLabel" translate="kevoreeRegistryApp.namespace.home.createOrEditLabel">Create or edit a Namespace</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert" ng-show="saveError">
                            <button type="button" class="close" aria-label="Close"><span aria-hidden="true" ng-click="clearSaveError()">&times;</span></button>
                            <strong>Error: </strong>{{saveError}}
                        </div>
                        <div class="form-group">
                            <label translate="kevoreeRegistryApp.namespace.name">Name</label>
                            <input type="text" class="form-control" ng-model="namespace.name">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteNamespaceConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(namespace.name)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert" ng-show="deleteError">
                            <button type="button" class="close" aria-label="Close"><span aria-hidden="true" ng-click="clearDeleteError()">&times;</span></button>
                            <strong>Error: </strong>{{deleteError}}
                        </div>
                        <p translate="kevoreeRegistryApp.namespace.delete.question" translate-values="{name: '{{namespace.name}}'}">Are you sure you want to delete Namespace {{namespace.name}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <table class="table table-bordered table-condensed table-striped">
            <thead>
            <tr>
                <th>
                    <a href="" class="nocolor block" ng-click="changeOrderBy('name')">
                        Name
                        <i ng-if="orderColumn === 'name'" class="glyphicon pull-right" ng-class="orderClasses"></i>
                    </a>
                </th>
                <th>
                    <a href="" class="nocolor block" ng-click="changeOrderBy('owner.login')">
                        Owner
                        <i ng-if="orderColumn === 'owner.login'" class="glyphicon pull-right" ng-class="orderClasses"></i>
                    </a>
                </th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-if="filteredNamespaces.length === 0" ng-init="filteredNamespaces = []">
                    <td colspan="3" class="text-center">
                        <em>No Namespace found</em>
                    </td>
                </tr>
                <tr ng-repeat="ns in filteredNamespaces = (namespaces | filter:search | orderBy:orderColumn:reverse)">
                    <td class="col-xs-2">
                        <a ui-sref="nsDetail({ name: ns.name })">{{ ns.name }}</a>
                    </td>
                    <td class="col-xs-9">
                        {{ ns.owner.login }}
                    </td>
                    <td class="col-xs-1">
                        <a href="" ng-click="delete(ns.name, $event)">
                            <span class="label label-danger" ng-if="isInRole('ROLE_ADMIN') || isOwner(ns)">Delete</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
