<div class="well">
    <div class="row">
        <h2 class="col-sm-6" translate="kevoreeRegistryApp.typeDefinition.home.title" style="margin: 0">Namespace</h2>
        <div class="col-sm-6">
            <button class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#saveModelModal" ng-click="clear()">
                <span class="glyphicon glyphicon-plus"></span> <span translate="kevoreeRegistryApp.typeDefinition.home.createLabel">Create a new Model</span>
            </button>
        </div>
    </div>
    <hr/>
    <div class="modal fade" id="saveModelModal" tabindex="-1" role="dialog" aria-labelledby="myModelLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myModelLabel" translate="kevoreeRegistryApp.typeDefinition.home.createOrEditLabel">Create or edit a Model</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label translate="kevoreeRegistryApp.typeDefinition.name">Name</label>
                            <input type="text" class="form-control" ng-model="tdef.name">
                        </div>
                        <div class="form-group">
                            <label translate="kevoreeRegistryApp.typeDefinition.version">Version</label>
                            <input type="text" class="form-control" ng-model="tdef.version">
                        </div>
                        <div class="form-group">
                            <label translate="kevoreeRegistryApp.typeDefinition.serializedModel">Serialized model</label>
                            <textarea class="form-control" ng-model="tdef.serializedModel">{{tdef.serializedModel}}</textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteTypeDefinitionConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(tdef.name, tdef.version)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="kevoreeRegistryApp.typeDefinition.delete.question" translate-values="{name: '{{tdef.name}}'}">Are you sure you want to delete Type Definition {{tdef.name}}/{{tdef.version}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="kevoreeRegistryApp.typeDefinition.name_version">Name / Version</th>
                    <th translate="kevoreeRegistryApp.typeDefinition.serializedModel">Serialized Model</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tdef in tdefs">
                    <td><a ui-sref="tdefDetail({name:tdef.name, version: tdef.version})">{{tdef.name}}/{{tdef.version}}</a></td>
                    <td>{{tdef.serializedModel}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="tdefDetail({name:tdef.name, version: tdef.version})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(tdef.name, tdef.version)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
