<div class="well">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <input type="text" class="form-control" ng-model="filterText" placeholder="{{ 'kevoreeRegistryApp.typeDefinition.filterPlaceholder' | translate }}">
        </div>
        <!--<div class="col-md-offset-2 col-xs-6">-->
            <!--<button ng-show="isInRole('ROLE_USER')" class="btn btn-primary btn-md pull-right" ng-click="create()">-->
                <!--<span class="glyphicon glyphicon-plus"></span> <span translate="kevoreeRegistryApp.typeDefinition.home.createLabel">New TypeDefinition</span>-->
            <!--</button>-->
        <!--</div>-->
    </div>
    <hr/>
    <div class="modal fade" id="createTypeDefinitionModal" tabindex="-1" role="dialog" aria-labelledby="myModelLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="confirmCreate()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myModelLabel" translate="kevoreeRegistryApp.typeDefinition.home.createTitle">Create a new TypeDefinition</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert" ng-show="createError">
                            <button type="button" class="close" aria-label="Close"><span aria-hidden="true" ng-click="clearCreateError()">&times;</span></button>
                            <strong>Error: </strong>{{createError}}
                        </div>
                        <div class="form-group">
                            <label translate="kevoreeRegistryApp.typeDefinition.selectNamespace">Select a namespace</label>
                            <select class="form-control" ng-model="tdef.namespace" ng-options="ns.name as ns.name for (i, ns) in namespaces"></select>
                        </div>
                        <div class="form-group">
                            <label translate="kevoreeRegistryApp.typeDefinition.name">Name</label>
                            <input type="text" class="form-control" ng-model="tdef.name">
                        </div>
                        <div class="form-group">
                            <label translate="kevoreeRegistryApp.typeDefinition.version">Version</label>
                            <input type="text" class="form-control" ng-model="tdef.version">
                        </div>
                        <div class="form-group">
                            <label translate="kevoreeRegistryApp.typeDefinition.model">Model</label>
                            <textarea class="form-control" ng-model="tdef.model"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteTypeDefinitionConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(tdef.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert" ng-show="deleteError">
                            <button type="button" class="close" aria-label="Close"><span aria-hidden="true" ng-click="clearDeleteError()">&times;</span></button>
                            <strong>Error: </strong>{{deleteError}}
                        </div>
                        <p translate="kevoreeRegistryApp.typeDefinition.delete.question" translate-values="{name: '{{tdef.name}}', version: '{{tdef.version}}'}">Are you sure you want to delete Type Definition {{tdef.name}}/{{tdef.version}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <table class="table table-bordered table-condensed table-striped">
            <thead>
            <tr>
                <th>Namespace</th>
                <th>Name</th>
                <th>Version</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tdef in tdefs | filter:filterText | orderBy:'namespace.name'">
                <td class="col-xs-2">
                    {{ tdef.namespace.name }}
                </td>
                <td class="col-xs-7">
                    <a ui-sref="tdefDetail({ id: tdef.id })">{{ tdef.name }}</a>
                </td>
                <td class="col-xs-2">
                    {{ tdef.version }}
                </td>
                <td class="col-xs-1">
                    <a href="" ng-click="delete(tdef.id, $event)">
                        <span class="label label-danger" ng-if="isInRole('ROLE_ADMIN') || isMember(tdef)">Delete</span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
