html
    head
        title CORS Test
    body
        div
            select(name='action')
                option GET
                option POST
            input(type=text name='url')
            button(name='submit') SEND
        div#result empty
        script(type='text/javascript' src='app.bundle.js').
