<div class="well">
	<h3><span data-translate="userManagement.detail.title">User</span> "{{vm.user.login}}"</h3>
	<dl class="dl-horizontal clearfix">
		<dt><span data-translate="userManagement.login">Login</span></dt>
		<dd><span>{{vm.user.login}}</span></dd>

		<dt><span data-translate="userManagement.firstName">First Name</span></dt>
		<dd>{{vm.user.firstName || '-'}}</dd>

		<dt><span data-translate="userManagement.lastName">Last Name</span></dt>
		<dd>{{vm.user.lastName || '-'}}</dd>

		<dt><span data-translate="userManagement.email">Email</span></dt>
		<dd>{{vm.user.email || '-'}}</dd>

		<dt><span data-translate="userManagement.activated">Activated</span></dt>
		<dd>{{vm.user.activated}}</dd>

		<dt><span data-translate="userManagement.langKey">Lang Key</span></dt>
		<dd>{{vm.user.langKey}}</dd>

		<dt><span data-translate="userManagement.createdBy">Created By</span></dt>
		<dd>{{vm.user.createdBy || '-'}}</dd>

		<dt><span data-translate="userManagement.created">Created Date</span></dt>
		<dd>{{(vm.user.createdDate | date:'dd/MM/yy HH:mm') || '-'}}</dd>

		<dt><span data-translate="userManagement.modifiedBy">Last Modified By</span></dt>
		<dd>{{vm.user.lastModifiedBy || '-'}}</dd>

		<dt><span data-translate="userManagement.modified">Last Modified Date</span></dt>
		<dd>{{(vm.user.lastModifiedDate | date:'dd/MM/yy HH:mm') || '-'}}</dd>

		<dt><span data-translate="userManagement.profiles">Profiles</span></dt>
		<dd>
			<ul class="list-unstyled">
				<li ng-repeat="authority in vm.user.authorities">
					<span>{{authority}}</span>
				</li>
			</ul>
		</dd>

		<dt>
			<span data-translate="userManagement.namespaces">Namespaces</span>
		</dt>
		<dd>
			<ul class="list-unstyled">
				<li ng-repeat="namespace in vm.user.namespaces">
					<span>{{ namespace }}</span>
				</li>
			</ul>
		</dd>
	</dl>

	<button type="submit" ui-sref="user-management" class="btn btn-info">
		<span class="glyphicon glyphicon-arrow-left"></span>
		<span>&nbsp;</span>
		<span data-translate="entity.action.back"> Back</span>
	</button>
</div>
