<div class="well">
    <div class="row">
        <h2 class="col-sm-6" translate="kevoreeRegistryApp.namespace.home.title" style="margin: 0">Namespace</h2>
        <div class="col-sm-6">
            <button class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#saveNamespaceModal" ng-click="clear()">
                <span class="glyphicon glyphicon-plus"></span> <span translate="kevoreeRegistryApp.namespace.home.createLabel">Create a new Namespace</span>
            </button>
        </div>
    </div>
    <hr/>
    <div class="modal fade" id="saveNamespaceModal" tabindex="-1" role="dialog" aria-labelledby="myNamespaceLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myNamespaceLabel" translate="kevoreeRegistryApp.namespace.home.createOrEditLabel">Create or edit a Namespace</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label translate="kevoreeRegistryApp.namespace.fqn">Fqn</label>
                            <input type="text" class="form-control" ng-model="namespace.fqn">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteNamespaceConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(namespace.fqn)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="kevoreeRegistryApp.namespace.delete.question" translate-values="{fqn: '{{namespace.fqn}}'}">Are you sure you want to delete Namespace {{namespace.fqn}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="kevoreeRegistryApp.namespace.fqn">Fqn</th>
                    <th translate="kevoreeRegistryApp.namespace.owner">Owner</th>
                    <th translate="kevoreeRegistryApp.namespace.members">Members</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="namespace in namespaces">
                    <td><a ui-sref="namespaceDetail({fqn:namespace.fqn})">{{namespace.fqn}}</a></td>
                    <td>{{namespace.owner}}</td>
                    <td>
                        <ul class="list-unstyled">
                            <li ng-repeat="member in namespace.members">{{member}}</li>
                        </ul>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="namespaceDetail({fqn:namespace.fqn})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(namespace.fqn)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
