html,
body {
    height: 100%;
    background-color: #333;
}

#navbar-logo {
    padding: 8px 15px 0;
}

#profile-picture-link {
    padding: 0;
}

#profile-picture {
    width: 50px;
    margin-left: 10px;
}

#content {
    margin-top: 65px;
}

table th.align-right, table td.align-right {
    text-align: right;
}

.list-group-item-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.list-group-item-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.align-middle {
    display: table;
    margin: 0 auto;
}

.element-path {
    font-family: consolas, menlo, monaco, monospace;
    font-size: small;
}