<div class="container" data-ng-controller="Namespace">
    <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{namespace.fqn}}</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item list-group-item-danger" data-ng-show="error">
                    <h4 class="list-group-item-heading">Error</h4>
                    <p class="list-group-item-text">{{error}}</p>
                </li>
            </ul>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Owner</h4>
                        <p class="list-group-item-text">{{namespace.owner}}</p>
                    </li>
                </ul>
                <ul class="list-group" data-ng-show="user && (namespace.owner === user.id)">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Add a member</h4>
                        <div class="list-group-item-content">
                            <form name="memberForm" class="form-horizontal">
                                <div class="form-group" data-ng-class="{'has-error': memberForm.userId.$invalid && memberForm.userId.$dirty}">
                                    <label class="control-label" for="userId">User email</label>
                                    <input class="form-control" type="email" id="userId" name="userId" data-ng-model="userId" placeholder="user@example.com" data-ng-keyup="$event.keyCode == 13 && !memberForm.$invalid" required>
                                    <span class="help-block" data-ng-show="memberForm.userId.$invalid && memberForm.userId.$dirty">Malformed email</span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary align-middle" data-ng-click="addMember(userId)" data-ng-disabled="memberForm.$invalid">Add member</button>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>Users</th>
                                <th class="align-right" data-ng-show="user.id === namespace.owner">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="member in namespace.users">
                                <td class="col-md-9">{{member}}</td>
                                <td class="col-md-3 align-right">
                                    <a href data-ng-show="namespace.owner !== member && user.id === namespace.owner" data-ng-click="removeMember(member)">Remove</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>