<div>
    <h2 translate="kevoreeRegistryApp.typeDefinition.home.title">Type Definitions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="type-definition.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="kevoreeRegistryApp.typeDefinition.home.createLabel">
                        Create new Type Definition
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="kevoreeRegistryApp.typeDefinition.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="serializedModel"><span translate="kevoreeRegistryApp.typeDefinition.serializedModel">Serialized Model</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="version"><span translate="kevoreeRegistryApp.typeDefinition.version">Version</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="platform"><span translate="kevoreeRegistryApp.typeDefinition.platform">Platform</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="namespace.name"><span translate="kevoreeRegistryApp.typeDefinition.namespace">Namespace</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="typeDefinition in vm.typeDefinitions track by typeDefinition.id">
                    <td><a ui-sref="type-definition-detail({id:typeDefinition.id})">{{typeDefinition.id}}</a></td>
                    <td>{{typeDefinition.name}}</td>
                    <td>{{typeDefinition.serializedModel}}</td>
                    <td>{{typeDefinition.version}}</td>
                    <td>{{typeDefinition.platform}}</td>
                    <td>
                        <a ui-sref="namespace-detail({id:typeDefinition.namespace.id})">{{typeDefinition.namespace.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="type-definition-detail({id:typeDefinition.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="type-definition.edit({id:typeDefinition.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="type-definition.delete({id:typeDefinition.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
