<div class="well">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <input type="text" class="form-control" ng-model="filterText" placeholder="{{ 'kevoreeRegistryApp.deployUnit.filterPlaceholder' | translate }}">
        </div>
        <div class="col-md-offset-2 col-xs-6">
            <button ng-show="isInRole('ROLE_USER')" class="btn btn-primary btn-md pull-right" ng-click="create()">
                <span class="glyphicon glyphicon-plus"></span> <span translate="kevoreeRegistryApp.deployUnit.home.createLabel">New DeployUnit</span>
            </button>
        </div>
    </div>
    <hr/>
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModelLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="confirmCreate()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myModelLabel" translate="kevoreeRegistryApp.deployUnit.home.createTitle">Create a new DeployUnit</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert" ng-show="createError">
                            <button type="button" class="close" aria-label="Close"><span aria-hidden="true" ng-click="clearCreateError()">&times;</span></button>
                            <strong>Error: </strong>{{createError}}
                        </div>
                        <div class="form-group">
                            <label translate="kevoreeRegistryApp.deployUnit.selectNamespace">Select a namespace</label>
                            <select class="form-control" ng-model="du.namespace" ng-options="ns.name as ns.name for (i, ns) in namespaces"></select>
                        </div>
                        <div class="form-group">
                            <label translate="kevoreeRegistryApp.deployUnit.name">Name</label>
                            <input type="text" class="form-control" ng-model="du.name">
                        </div>
                        <div class="form-group">
                            <label translate="kevoreeRegistryApp.deployUnit.version">Version</label>
                            <input type="text" class="form-control" ng-model="du.version">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(du.namespace.name, du.name, du.version)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert" ng-show="deleteError">
                            <button type="button" class="close" aria-label="Close"><span aria-hidden="true" ng-click="clearDeleteError()">&times;</span></button>
                            <strong>Error: </strong>{{deleteError}}
                        </div>
                        <p translate="kevoreeRegistryApp.deployUnit.delete.question" translate-values="du">Are you sure you want to delete the DeployUnit {{du.name}}/{{du.version}} for the platform {{du.platform}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="clearfix">
        <div class="col-xs-4 list-group" ng-repeat="du in dus | filter:filterText | orderBy:du.name">
            <a ui-sref="deployUnitDetail({ namespace: du.typeDefinition.namespace.name, tdef: du.typeDefinition.name, tdefVersion: du.typeDefinition.version, name:du.name, version: du.version })" class="list-group-item clearfix">
                <button
                        class="btn btn-sm btn-danger pull-right"
                        ng-if="isInRole('ROLE_ADMIN')"
                        ng-click="delete(du.typeDefinition.namespace.name, du.typeDefinition.name, du.typeDefinition.version, du.name, du.version, $event)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <h4 class="list-group-item-heading">{{ du.name + ' / ' + du.version}}</h4>
                <p class="list-group-item-text">{{ du.typeDefinition.name + '/' + du.typeDefinition.version }}</p>
            </a>
        </div>
    </div>
</div>
